body {
    background: url("../img/casino-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

input, button, submit { 
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
} 

h1 {
    margin-top: 350px;
    color: white;
    text-shadow: 2px 2px gold;
    font-size: 40pt;
}

h2 {
    font-size: 20pt;
    color: white;
    background-color: #C4C6E1;
    padding: 20px;
}

table {
    text-align: left;
    margin: auto;
}

td {
    width: 25%;
    height: 30px;
}

td > img {
    width: 30px;
    height: 30px;
}

main {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 458px 100px 100px 100px 80px ;
    grid-template-areas: "header header header header"
                         "slotContain slotContain slotContain addFunds"
                         "slotContain slotContain slotContain cashOut"
                         "slotContain slotContain slotContain spinSlots"
                         "footer footer footer footer"
}

header {
    grid-area: header;
    background-color: grey;
    background: url("../img/slot-top.svg") no-repeat center;
    background-size: cover;
}

footer {
    grid-area: footer;
    background-color: #ADB4D1;
    border-radius: 10px;
}

footer > p {
    display: inline-block;
    font-size: 20pt;
    margin-right: 60px;
    color: white;
}

footer > p > span {
    font-size: 22pt;
    text-shadow: 1px 1px gold;
}



#helper-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 10px;
    right: 10px;
    top: 0px;
    position: fixed;
    border-radius: 0px 0px 10px 10px;
}

#top-bar {
    cursor: pointer;
    padding: 10px;
    right: 120px;
    top: 120px;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
}

#top-bar > div {
    display: none;
}

#helper-image > img {
    height: 100px;
    width: 100px;
}

#add-funds-input {
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    height: 75%;
    background-color: white;
}

#cash-out-receipt {
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    height: 75%;
    background-color: white;
}

#winning-combo-guide {
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    height: 75%;
    background-color: white;
}

#headline {
    position: relative;
}

#slot-container {
    grid-area: slotContain;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px;
    grid-template-areas: "slot1 slot2 slot3";
}

#slot1 {
    grid-area: slot1;
    background-image: linear-gradient(grey, lightgrey, white, white, lightgrey, grey)

}

#slot2 {
    grid-area: slot2;
    background-image: linear-gradient(grey, lightgrey, white, white, lightgrey, grey)
}

#slot3 {
    grid-area: slot3;
    background-image: linear-gradient(grey, lightgrey, white, white, lightgrey, grey)
}

#slot4 {
    grid-area: slot4;
}

#add-funds-side-button {
    grid-area: addFunds;
}

#cash-out-side-button {
    grid-area: cashOut;
}

#spin-slots-side-button {
    grid-area: spinSlots;
}

.jackpot {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.side-buttons  {
    margin: 2px;
    background-color: #C5CBE2;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.side-buttons > img {
    height: 75%;
}

.side-buttons > p {
    margin: -10px auto;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

.side-buttons:hover {
    border: 2px solid gold;
}

.slots {
    margin: 2px;
    border-radius: 5px;
    overflow: hidden;
}

.slots > img {
    padding-top: 60px;
    width: 80%;
    animation: slideDown 1s;
    position: relative;
}

@keyframes slideDown {
    0% {top: -200px;}
    25% {top: 0px}
    50% {top: 75px}
    100% {top: 0px;}
}

.disabled {
    cursor: not-allowed;
}

.credits {
    font-size: 10pt;
    display: inline-block;
    color: white;
}

.column-text {
    text-align: right;
    width: 100px;
}

.column-image {
    width: 200px;
    text-align: left;
}

.toggle-show {
    display: inline-block !important; 
}

.winningSymbolBorder {
    border: 4px solid gold;
}